<h1 class="mt-4">Cliente</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastrar</li>
</ol>

<div class="container">
<form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    
    <div class="row" >
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                Cliente Cadastrado com Sucesso!
              </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>ID:</label>
                <input type="text" class="form-control" disabled="true" [ngModel]="cliente.id" name="id">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Data Cadastro:</label>
                <input type="text" class="form-control" disabled="true" 
                [ngModel]="cliente.dataCadastro" name="dataCadastro">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Nome: *</label>
                <input type="text" class="form-control" 
                [(ngModel)]="cliente.nome" name="nome">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label>Cpf: *</label>
                <input type="text" class="form-control" 
                [(ngModel)]="cliente.cpf" name="cpf">
            </div>
        </div>
    </div>   
    
    <button type="submit" class="btn btn-primary mb-2"> <i class="fa fa-save"></i> Cadastrar</button>
  </form>
</div>